.port-centering{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
}
.port-centering:hover{
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .port-centering {
    display: flex;
    align-items: center !important;
    justify-content: center;
  }
  .portfolio-title-container {
    flex-direction: column;
    text-align: center;
  }
  .portfolio-title-container p {
    font-size: 12px;
  }
}
