.contact-me {
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #f2414b;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 6px;
}
.bb-c {
  width: 35%;
}
.contact-form {
  background-color: var(--background);
}
.contact-forms-inputs input {
  width: 100% !important;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.contact-forms-inputs input::placeholder {
  color: #ffffff;
}
.contact-forms-inputs input {
  background-color: black;
}
.contact-forms-inputs textarea {
  background-color: black;
  width: 100% !important;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.contact-forms-inputs textarea::placeholder {
  color: #ffffff;
}
.contact-form {
  width: 30% !important;
  max-width: 100% !important;
  right: 30%;
  top: 25%;
}
.error {
  color: red;
}
@media screen and (max-width: 875px) {
  .contact-form {
    width: 50% !important;
  }
}
@media screen and (max-width: 575px) {
  .contact-form {
    width: 80% !important;
    right: 10%;
  }
}
