* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/* font-family: 'Abril Fatface', cursive;  abril-fatface */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: 'Poppins', sans-serif; poppins */
:root {
  --textColors: #ffffff;
  --background: #02020e;
}
body {
  background-color: var(--background) !important;
  color: var(--textColors) !important;
}

.reus-h {
  font-weight: 400;
  font-style: normal;
  font-family: "Abril Fatface", display;
  color: #ffffff;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0px;
}
.reus-p {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  color: #c8c8c8;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0px;
}
.reus-small-p {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  color: #c8c8c8;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0px;
}
