@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/* font-family: 'Abril Fatface', cursive;  abril-fatface */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
:root {
  --textColors: #ffffff;
  --background: #02020e;
}
body {
  background-color: var(--background) !important;
  color: var(--textColors) !important;
}
